<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Courier service,Parcel delivery order,Parcel delivery,RDTECH">
        <meta name="author" content="Daniel Nziranziza">
        <meta name="description" content="A fast and reliable courier service">
        <title>RDTECH- a fast and reliable courier service</title>
        <link href="../static/css/index.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="../static/img/send.png"/>
    </head>
    <body onLoad="getAll()">
            <header>
                    <div class="container">
                        <div id="brand">
                            <a href="../static/index.html"><img src="../static/img/RD.PNG" alt="Slogo" id="logo"><label class="top-label">RDTECH</label></a>
                        </div>
                    <nav>
                        <ul>
                            <li><a href="../static/index.html"><b>HOME</b></a></li>
                            <li><a href="login.html"><b>LOGIN</b></a></li>
                            <li><a href="contact.html"><b>CONTACT US</b></a></li>
							 <li><a href="createparcel.html"><b>CREATE ORDER</b></a></li>
                            <li><a href="about.html"><b>ABOUT US</b></a></li>     
                        </ul>
                    </nav>
                    </div>
                </header>
        <div>
        <div class="block">
            <div class="box default adctr" id="admin-panel">
                <ul>
                    <li><a class="button default" href="admin.html">Dashboard</a></li>
                    <li><a class="button default" href="#">Mail</a></li>
                    <li><a class="button default" href="#">All Toners Oders </a></li>
                    <li><a class="button default" href="#">Delivered Oders </a></li>
                    <li><a class="button default" href="#">In Transit Oders</a></li>
                    <li><a class="button default" href="#">Track on Maps</a></li>
                </ul>
            </div>
        <div id="admin-header">
            <div class="block">
              <div class="box success admctr">Users<span class="badge badge-success">0</span></div>
              <div class="box del admctr"> delivery orders<span class="badge badge-del">0</span></div>
              <div class="box primary admctr">Vistors<span class="badge badge-primary">0</span></div>
              <div class="box success admctr">Transit<span class="badge badge-success">0</span></div>
            </div>
 <!---The parcel delivery output-->           
            <div id="admin-table full-width">
                <table class="full-width">
                    <tbody id="admin">
    
                    </tbody>
                </table>
            </div>
        </div>
        <div class="ads">
            <h1 class="to-center box">Ads</h1>
            <img src="../static/img/home-courier.png">
        </div>
       </div>
        <footer>
          <hr/>
          <p>&copy RDTECH 2018. <a href="#" style="padding-right:10px">Terms</a><a href="#">Privacy</a></p>
          <script src="../static/js/parcelController.js"></script>
        </footer>
    </body>
</html>

