<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Courier service,Parcel delivery order,Parcel delivery,PREVIEW Technology ">
        <meta name="author" content="kevin Nyayiha">
        <meta name="description" content="A fast and reliable courier service">
        <title>PREVIEW Technology - a fast and reliable courier service</title>
        <link href="../css/index.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="../img/send.png"/>
    </head>
    <body>
        <header>
            <div class="container">
                <div id="brand">
                    <a href="../index.html"><img src="../img/RD.PNG" alt="Slogo" id="logo"><label class="top-label">PREVIEW Technology </label></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="../index.html"><b>HOME</b></a></li>
                        <li><a href="login.html"><b>LOGIN</b></a></li>
                        <li><a href="contact.html"><b>CONTACT US</b></a></li>
                        <li><a href="about.html"><b>ABOUT US</b></a></li>     
                    </ul>
                </nav>
            </div>
        </header>
        <section id="about-img" class="container">
                <div>
                    <br><br><br>
                    <span id="about-title">Get to Know About Us</span>
                </div>
        </section>
        <section class="about-section">
            <div >
                <div class="container to-center primary">
                     <h1>We are future IT supporters</h1>
                </div>
            </div>
            <div class="container">
                        <div class="rectangle-3" >
                        <a href="https://andela.com/"><img src="../img/RD.PNG" id="about-icon"><a>
                        </div>
                        <div class="rectangle-2-3 box">
                        <p ><b>PREVIEW Technology </b>Rwanda Dimension Technology is one of the foremost IT equipment and printing solutions providers in Rwanda and the larger Great Lakes Region. Since the company’s founding in 2005, PREVIEW Technology has successfully served the diverse business technology needs of the East African commercial sector as well as Government, non-profit, educational, and home IT users.</p>
                        <p> </p>
                        <h1>RWANDA DIMENSION TECHNOLOGY- THE GROUP</h1>
                        <p>Rwanda Dimension Technology is a limited company founded in October 2005 by a small consortium of Rwandan and American entrepreneurs. Since our founding, the sale of IT equipment &amp; Printing equipment and services has become our chief focus and we have continually endeavored to make computers and printing equipment more affordable for the public. Our business is based on the idea that a firm such as PREVIEW Technology must keep abreast of all the rapid and continuous changes in information technology.</p>
                        <p> </p>
                        <h1>VISION</h1>
                        <p>PREVIEW Technology will provide value-added business services with a focus on meeting customer requirements with high quality, cutting-edge technology, and ultimately, returns for its shareholders. The company will strive to develop rewarding relationships with its partners, employees, and suppliers and maintain the highest ethical and professional standards.</p>
                        <p> </p>
                        <h1>MISSION</h1>
                        <p><strong>People:</strong> We value our people, including customers, employees, and suppliers.</p>
                        <p><strong>Service:</strong> PREVIEW Technology has always been committed to honest, reliable, and high-quality</p>
                        <p><strong>ServiceTechnology: </strong>We will utilize the latest, most cost-effective technology to deliver services to our customers. Loyalty: We commit to long-standing relationships with customers in the business, non-profit, and government sectors</p>
              </div>     
            </div>    
        </section>
        <section id="interest" class="about-section">
            <div class="container">
                <div class="rectangle-2-3">
                    <div class="box primary">
                        <p><b>PREVIEW Technology</b> is interested in printers leasing services with both private and gorvenment companies as to save time and minize wastage of the trees that are cut to make papaers.
                        </p>
                    </div>
                    <div>
                        <h2>Need to contact PREVIEW Technology Personally?</h2>
                      <table>
                          <tbody>
                            <tr><td><img src="../img/facebook.png" class="icon"></td><td>PREVIEW Technology</td></tr>
                            <tr><td><img src="../img/whatsapp.png" class="icon"></td><td>+250 788 304 849</td></tr>
                            <tr><td><img src="../img/gmail.png" class="icon"></td><td>info@PREVIEW Technology.co.rw</td></tr>
                            <tr><td><img src="../img/linkedin.png" class="icon"></td><td>PREVIEW Technology</td></tr>
                            <tr><td><img src="../img/instagram.png" class="icon"></td><td>PREVIEW Technology</td></tr>
                          </tbody>
                    </table>
                    </div>
                </div>
                <div class="rectangle-3">
                    <img src="../img/RD.PNG" id="guitar">
                </div>
            </div>
        </section>
        <footer>
         <hr/>
         <p>&copy PREVIEW Technology  2019. <a href="#" id="footer-link">Terms</a><a href="#" >Privacy</a></p>
        </footer>
    </body>
</html>

